# Doot Plugin Alias Mapping

[[doot.aliases.command]]
# Map {alias} -> CodeRef String
help      = "doot.cmds.help_cmd:HelpCmd"
run       = "doot.cmds.run_cmd:RunCmd"
list      = "doot.cmds.list_cmd:ListCmd"
clean     = "doot.cmds.clean_cmd:CleanCmd"
stub      = "doot.cmds.stub_cmd:StubCmd"
step      = "doot.cmds.step_cmd:StepCmd"
plugins   = "doot.cmds.plugins_cmd:PluginsCmd"
locs      = "doot.cmds.locs_cmd:LocsCmd"
graph     = "doot.cmds.graph_cmd:GraphCmd"

[[doot.aliases.reporter]]
# Map {alias} -> CodeRef String
summary = "doot.reporters.summary_manager:DootReportManagerSummary"
stack   = "doot.reporters.stack_manager:DootReportManagerStack"

[[doot.aliases.report-line]]
# Map {alias} -> CodeRef String
basic = "doot.reporters.basic_reporters:DootAlwaysReport"
time  = "doot.reporters.basic_reporters:TimerReporter"

[[doot.aliases.tracker]]
# Map {alias} -> CodeRef String
basic = "doot.control.tracker:DootTracker"

[[doot.aliases.runner]]
# Map {alias} -> CodeRef String
basic = "doot.control.runner:DootRunner"
step  = "doot.control.step_runner:DootStepRunner"

[[doot.aliases.parser]]
# Map {alias} -> CodeRef String
basic =   "doot.parsers.flexible:DootFlexibleParser"

[[doot.aliases.action]] # basic actions
# Map {alias} -> CodeRef String
basic    =       "doot.actions.base_action:DootBaseAction"
shell    =       "doot.actions.shell:DootShellAction"
interact =       "doot.actions.shell:DootInteractiveAction"
user     =       "doot.actions.io:UserInput"
read     =       "doot.actions.io:ReadAction"
copy     =       "doot.actions.io:CopyAction"
move     =       "doot.actions.io:MoveAction"
touch    =       "doot.actions.io:TouchFileAction"

[[doot.aliases.action]] # ! actions
# Map {alias} -> CodeRef String
"link!"   =  "doot.actions.io:LinkAction"
"backup!" =  "doot.actions.io:BackupAction"
"write!"  =  "doot.actions.io:WriteAction"
"append!" =  "doot.actions.io:AppendAction"
"dir!"    =  "doot.actions.io:EnsureDirectory"
"delete!" =  "doot.actions.io:DeleteAction"
"break!"  =  "doot.actions.util:action_debugger"
"type!"   =  "doot.actions.util:typecheck"

[[doot.aliases.action]] # control flow
# Map {alias} -> CodeRef String
"exists?"       = "doot.actions.control_flow:FileExistsCheck"
"ext?"          = "doot.actions.control_flow:SuffixCheck"
"relative?"     = "doot.actions.control_flow:RelativeCheck"
"pred?"         = "doot.actions.control_flow:PredicateCheck"
"installed?"    = "doot.actions.control_flow:AssertInstalled"
"dir?"          = "doot.actions.io:EnsureDirectory"
"wait"          = "doot.actions.control_flow:WaitAction"

[[doot.aliases.action]] # compressions
# Map {alias} -> CodeRef String
"json.read"     =  "doot.actions.json:ReadJson"
"json.write"    =  "doot.actions.json:WriteJson"
"json.parse"    =  "doot.actions.json:ParseJson"
"json.nl.read"  =  "doot.actions.json:ReadJsonLines"
"json.nl.write" =  "doot.actions.json:WriteJsonLines"

"tar!"          =  "doot.actions.compression:TarCompressAction"
"untar!"        =  "doot.actions.compression:TarDecompressAction"
"tar.list"      =  "doot.actions.compression:TarListAction"
"zip.new"       =  "doot.action.compression:ZipNewAction"
"zip.add"       =  "doot.actions.compression:ZipAddAction"
"zip.get"       =  "doot.actions.compression:ZipGetAction"
"zip.list"      =  "doot.actions.compression:ZipListAction"

[[doot.aliases.action]] # postbox and state
# Map {alias} -> CodeRef String
"post.put"                    =  "doot.actions.postbox:PutPostAction"
"post.get"                    =  "doot.actions.postbox:GetPostAction"
"state.add"                   =  "doot.actions.state:AddStateAction"
"state.add.fn"                =  "doot.actions.state:AddStateFn"
"path.elements"               =  "doot.actions.state:PathParts"
"path.shadow"                 =  "doot.actions.state:ShadowPath"


[[doot.aliases.action]] # misc
# Map {alias} -> CodeRef String
"say.time" = "doot.actions.speak:SpeakTimeAction"
"log"      = "doot.actions.control_flow:LogAction"


[[doot.aliases.action]] # job actions
# Map {alias} -> CodeRef String
"job.queue"                    = "doot.actions.job_actions:JobQueueAction"
"job.queue.head"               = "doot.actions.job_actions:JobQueueHead"

"job.expand"                   = "doot.actions.job_actions:JobExpandAction"
"job.gen"                      = "doot.actions.job_actions:JobGenerate"

"job.walk"                     = "doot.actions.job_actions:JobWalkAction"
"job.limit"                    = "doot.actions.job_actions:JobLimitAction"

"job.match"                    = "doot.actions.job_actions:JobMatchAction"
"job.sub.name"                 = "doot.actions.job_actions:JobSubNamer"
"job.actions.prepend"          = "doot.actions.job_actions:JobPrependActions"
"job.actions.append"           = "doot.actions.job_actions:JobAppendActions"
"job.injector"                 = "doot.actions.job_actions:JobInjector"
"job.inject.path.elements"     = "doot.actions.job_actions:JobInjectPathParts"
"job.inject.shadow"            = "doot.actions.job_actions:JobInjectShadowAction"

[[doot.aliases.task]] # task types
# Map {alias} -> CodeRef String
"job"   =      "doot.task.base_job:DootJob"
"task"  =      "doot.task.base_task:DootTask"

[[doot.aliases.mixin]]
