# Doot Plugin Alias Mapping
doot_version = "1.0"

[[doot.aliases.command]]
# Map {alias} -> CodeRef String
help      = "doot.cmds.help_cmd:HelpCmd"
run       = "doot.cmds.run_cmd:RunCmd"
list      = "doot.cmds.list_cmd:ListCmd"
clean     = "doot.cmds.clean_cmd:CleanCmd"
stub      = "doot.cmds.stub_cmd:StubCmd"
step      = "doot.cmds.step_cmd:StepCmd"
graph     = "doot.cmds.graph_cmd:GraphCmd"

[[doot.aliases.reporter]]
# Map {alias} -> CodeRef String

[[doot.aliases.report-line]]
# Map {alias} -> CodeRef String
basic = "doot.reporters.basic_reporters:DootAlwaysReport"
time  = "doot.reporters.basic_reporters:TimerReporter"

[[doot.aliases.tracker]]
# Map {alias} -> CodeRef String
basic = "doot.control.naive_tracker:NaiveTracker"

[[doot.aliases.runner]]
# Map {alias} -> CodeRef String
basic = "doot.control.runner:DootRunner"
step  = "doot.control.step_runner:DootStepRunner"

[[doot.aliases.parser]]
# Map {alias} -> CodeRef String
basic    =   "jgdv.cli.arg_parser:CLIParser"

[[doot.aliases.action]] # basic actions
# Map {alias} -> CodeRef String
basic    =       "doot.actions.base_action:DootBaseAction"
user     =       "doot.actions.io:UserInput"
read     =       "doot.actions.io:ReadAction"
copy     =       "doot.actions.io:CopyAction"
move     =       "doot.actions.io:MoveAction"
touch    =       "doot.actions.io:TouchFileAction"

[[doot.aliases.action]] # ! actions
# Map {alias} -> CodeRef String
"link!"   =  "doot.actions.io:LinkAction"
"backup!" =  "doot.actions.io:BackupAction"
"write!"  =  "doot.actions.io:WriteAction"
"append!" =  "doot.actions.io:AppendAction"
"dir!"    =  "doot.actions.io:EnsureDirectory"
"delete!" =  "doot.actions.io:DeleteAction"
"break!"  =  "doot.actions.util:action_debugger"
"type!"   =  "doot.actions.util:typecheck"

[[doot.aliases.action]] # control flow
# Map {alias} -> CodeRef String
"exists?"       = "doot.actions.control_flow:FileExistsCheck"
"ext?"          = "doot.actions.control_flow:SuffixCheck"
"relative?"     = "doot.actions.control_flow:RelativeCheck"
"pred?"         = "doot.actions.control_flow:PredicateCheck"
"installed?"    = "doot.actions.control_flow:AssertInstalled"
"dir?"          = "doot.actions.io:EnsureDirectory"
"wait"          = "doot.actions.control_flow:WaitAction"

[[doot.aliases.action]] # state
# Map {alias} -> CodeRef String
"state.add"                   =  "doot.actions.state:AddStateAction"
"state.add.fn"                =  "doot.actions.state:AddStateFn"
"path.elements"               =  "doot.actions.state:PathParts"
"path.shadow"                 =  "doot.actions.state:ShadowPath"

[[doot.aliases.action]] # misc
# Map {alias} -> CodeRef String
"log"      = "doot.actions.control_flow:LogAction"

[[doot.aliases.task]] # task types
# Map {alias} -> CodeRef String
"job"   = "doot.task.core.job:DootJob"
"task"  = "doot.task.core.task:DootTask"

[[doot.aliases.mixin]]
