[submodule "related_/doot-examples"]
	path = related_/doot-examples
	url = git@github.com:jgrey4296/doot-examples.git
[submodule "related_/dootle"]
	path = related_/dootle
	url = git@github.com:jgrey4296/dootle.git
[submodule "related_/bibble"]
	path = related_/bibble
	url = git@github.com:jgrey4296/bibble.git
[submodule "related_/wiki"]
	path = related_/wiki
	url = git@github.com:jgrey4296/doot.wiki.git
[submodule "related_/corana"]
	path = related_/corana
	url = git@github.com:jgrey4296/corana.git
[submodule "related_/jgdv"]
	path = related_/jgdv
	url = git@github.com:jgrey4296/jgdv.git
