[DEFAULT]
MAX_ATTEMPTS  = 20
tweet_len     = 280
toot_len      = 480
twitter_sleep = True
secrets_loc   = /volumes/documents/github/py_bookmark_organiser/secrets.config

[PHOTO]
WHITE_LIST   = /Volumes/documents/github/py_bookmark_organiser/bot_config/dcim_whitelist
TEMP_LOC     = /Volumes/documents/DCIM/__temp/output.jpg
convert_args = -define jpeg:extent=4800KB

[BIBTEX]
lib         = ~/github/writing/resources/bibliography
success_log = ~/github/py_bookmark_organiser/bot_config/bibtex_post.log
fail_log    = ~/github/py_bookmark_organiser/bot_config/rejected_tweets.log
blacklist   = ~/github/py_bookmark_organiser/bot_config/bibtex_blacklist
stub_source = ~/Desktop/pdfs/Current/
stub_target = ~/github/writing/resources/bibliography/todo.bib
stub_exts   = .pdf .epub

[BIBTEX_KEYS]
required = year author title tags
one_of   = doi url isbn

[TIME]
# Double % to handle interpolation
format = %%I:%%M %%p
cmd    = say -v Moira -r 50 "The Time is {}"
