[project]
name            = "doot"
version         = "0.2.0"
description     = ""
readme          = "README.md"
requires-python = ">=3.11"
license         = {file = "LICENSE"}
keywords        = []
authors         = [
  {email = "jgrey.n.plus.one@gmail.com", name  = "jgrey"}
]
classifiers     = [
  "Programming Language :: Python"
]


dependencies   = [
    "tomler @ git+https://github.com/jgrey4296/tomler.git",
    "networkx > 3.0",
    "sh >= 2.0.6",
]

[project.optional-dependencies]
test = [
  "pytest < 5.0.0",
]
dev = [
    "pipreqs", "sphinx"
]

##-- urls
[project.urls]
homepage      = "https://github.com/jgrey4296/doot"
documentation = "https://readthedocs.org/doot"
repository    = "https://github.com/jgrey4296/doot"
changelog     = "https://github.com//doot/blob/master/CHANGELOG.md"

##-- end urls

##-- scripts
[project.scripts]
doot = "doot.__main__:main"

##-- end scripts

##-- build system
[build-system]
requires = [
         "setuptools >= 63.1.0",
         "wheel >= 0.37.1"
]

build-backend = "setuptools.build_meta"

[tool.setuptools]

[tool.setuptools.packages.find]
namespaces = true
where      = ["."]
include    = ["doot*"]

[tool.setuptools.package-data]
"*" = ["*"]

[tool.setuptools.exclude-package-data]

##-- end build system

# Tools #######################################################################

##-- pytest
[tool.pytest.ini_options]
log_cli       = false
log_level     = "DEBUG"
log_cli_level = "INFO"
log_format    = "%(levelname)s %(name)s : %(message)s"

##-- end pytest
