beautifulsoup4
bibtexparser
doit
itemadapter
matplotlib
networkx
numpy
pandas
pdfrw
Pillow
pony
pylatexenc
pypandoc
PyYAML
regex
Requests
scikit-learn
scrapy
seaborn
tomler
tweepy
w3lib
wordcloud
xsdata
