beautifulsoup4
bibtexparser
itemadapter
matplotlib
networkx
numpy
pandas
pdfrw
Pillow
pony
pylatexenc
pypandoc
PyYAML
regex
Requests
scikit-learn
scrapy
seaborn
tomlguard
tweepy
w3lib
wordcloud
xsdata
