[[locations]]
build     = "{temp}/dist"
dist_key  = "~/.config/secrets/pypi/token.asc"

# TODO run pytest

[[tasks.dist]]
name     = "bump"
version  = "0.1"
ctor     = "task"
cli = [
    { name="raise", type="str", prefix="--", default="minor", desc="", constraints=["major", "minor", "patch"]},
    { name="dry",  type="bool", prefix="-", default=false, desc="" },
]
env_name = "distributor"
actions  = [
        {do="dootle.python.mamba:MambaEnv", env_="env_name", update_="env"},
        {do="shell", args=["bumpver", "update", "--no-fetch", "--{raise}"], env_="env"},
]


[[tasks.dist]]
name                   = "build"
version                = "0.1"                          # <str>
ctor                   = "task"                         # <str>
env_name               = "distributor"
match_re               = 's/^pypi\s+\=\s+(.+)/\1/p'
actions                = [
                     {do="mamba.env", env_="env_name", update_="env"},
                     # Build
                     {do="shell", args=["python", "-m", "build", "--outdir", "{build}", "."], env_="env"},
                     # Cleanup
                     {do="delete!", recursive=true, lax=true, args=["./doot.egg-info"]}
]

[[tasks.dist]]
name                   = "upload"
version                = "0.1"
ctor                   = "task"
depends_on             = ["dist::build"]
env_name               = "distributor"
match_re               = 's/^pypi\s+\=\s+(.+)/\1/p'
actions                = [
                     {do="mamba.env", env_="env_name", update_="env"},
                     # Get pypi token
                     {do="doot.actions.shell:DootShellBake", args=["gpg", "-q", "-d", "{dist_key}"], update_="gpg", env=false},
                     {do="doot.actions.shell:DootShellBake", args=["sed", "-n", "-E", "{match_re}"], in_="gpg", update_="token", env=false},
                     {do="doot.actions.shell:DootShellBakedRun",  in_="token", update_="token_str"},
                     # Upload to pypi
                     {do="shell", args=["twine", "upload", "-u", "__token__", "-p", "{token_str}", "--skip-existing", "--non-interactive", "{build}/*"], env_="env"},
]
